.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  font-size: 300%;
  font-weight: bold;
  color: cadetblue;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  font-size: 180%;
  font-weight: bold;
  color: cadetblue;

}

.application {
  font-size: 120%;
  color: rgba(115, 187, 82, 0.925);
}

.logo {
  padding-top: 5px;
}

.huffman_img {
  float: right;
  padding-right: 10px;
}

body {
  line-height: 180%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  padding-right: 20px;
}

.nodeClass {
  padding: 5px;
  text-align: center;
  border: 2px solid rgba(133, 213, 95, 0.925);

  border-radius: 50px;
}

table, th, td {
  padding: 10px;
}

.huffman_tree {
  width: 80%;
  align-content: center;
  border: 1px;
  border-color: blue;
  padding-left: 5px;
}

.buttons_div {
  width: 100%;
  align-content: center;
  padding-left: 50%;
  padding-top: 20px;
  vertical-align: center;
}

hr {
  padding-left: 10px;
  padding-right: 10px;
  border-top: 6px dotted cadetblue;
  border-bottom: none;
}

#step_number {
  display: inline;
  vertical-align: middle;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  color: cadetblue;
}

#huffman_text_id {
  width: 80%;
}

.arrow_button {
  padding-top: 10px;
  float: left;
  padding: 5px;
  vertical-align: middle;
  color: cadetblue;
}

.arrow_button :hover {
  padding-top: 10px;
  float: left;
  padding: 5px;
  vertical-align: middle;
  fill: rgb(56, 92, 94);
  color: white;

}

.line {
  position: absolute;
  width: 1px;
  background-color: rgb(251, 118, 29);
}


.child_class {
  width: 50%;
}

.root_class {
  margin: auto;
  width: 50%;
}